@page
@model gestione_magazzino.Pages.magazzino.CreateModel
@{
}

<form method="post">
    <p>inserire nome</p>
    <input name="Nome" /><br>
    <p>inserire indirizzo</p>
    <input name="Indirizzo" /><br>
    <p>inserire numero</p>
    <input name="Numero" /><br>
    <input type="submit" />
</form>