@page
@model gestione_magazzino.Pages.categorie.EditModel
@{
}

<form method="post">
    <p>inserire nome</p>
    <input name="Nome" /><br>
    <p>inserire ID</p>
    <input name="Id" /><br>
    <input type="submit" />
</form>