@page
@model gestione_magazzino.Pages.prodotti.CreateModel
@{
}

<form method="post">
    <p>inserire nome</p>
    <input name="Nome" /><br>
    <p>inserire quantita</p>
    <input name="Quantita" /><br>
    <p>inserire prezzo</p>
    <input name="Prezzo" /><br>
    <p>inserire categoria</p>
    <input name="Categoria" /><br>
    <p>inserire magazzino</p>
    <input name="Magazzino" /><br>
    <p>inserire data</p>
    <input name="Data" /><br>
    <input type="submit" />
</form>