@page
@model gestione_magazzino.Pages.prodotti.loginModel
@{
}

<form method="post">
    <p>inserire password</p>
    <input name="Password" /><br>
    <p>inserire email</p>
    <input name="Email" />
    <input type="submit" />
</form>
