@page
@model gestione_magazzino.Pages.prodotti.registraModel
@{
}

<form method="post">
    <input name="Nome" />
    <input name="Password" />
    <input name="Cognome" />
    <input name="Email" />
    <input type="submit" />
</form>