@page
@model gestione_magazzino.Pages.prodotti.registraModel
@{
}

<form method="post">
    <p>inserire nome</p>
    <input name="Nome" /><br>
    <p>inserire password</p>
    <input name="Password" /><br>
    <p>inserire cognome</p>
    <input name="Cognome" /><br>
    <p>inserire email</p>
    <input name="Email" /><br>
    <input type="submit" />
</form>